.nawigacyjny{
    height: 35px;
    width: 100%;
    top:0;
    position: fixed;
    overflow: hidden;
    background-color: black;
}
.nawigacyjny a{
    float:right;
    display: block;
    color: white !important;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: black;

}
.nawigacyjny a:hover{
    float:right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    color:black;
    background-color: green;

}
.nawigacyjny p{
    float:left;
    margin-right: 30px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: black;
    margin:0.05em ;


}
.nawigacyjny p:hover{
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: white;

}
.nawigacyjny span{
    text-align: center;
    float: left;
    display: block;
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
    font-size:16px;
}
body{
    margin:0;
    background-color: lightcyan;

}
.container{
    margin-top:50px;
}
.kategorie{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    border: 1px solid black;
}
.tools{
    margin-top: 50px;
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table{
    text-align: center;
    margin: auto;
    width: 70vw;
}
.tabela table{
    border:1px solid black;
}
.tabela th{
    border:1px solid black;
    background-color: gray;
}
.tabela tr{
    border:1px solid black;
}
.tabela td{
    border:1px solid black;
}
textarea{
    resize: none;
    margin-top:5px;
}
form input[type='text']{
    margin-top:5px;
}
form input[type='number']{
    margin-top:5px;
}
form input[type='submit']{
    margin-top:5px;
}
form input[type='file']{
    margin-top:5px;
}