body{
    margin:0;
    background-image: url("../assets/bg2.jpg");
    height: 100vh;
}
p{
    margin:0.05em;
}
.header{
    text-align: center;
    color:black;
    font-size:100px;

}
.title_text{
    font-weight: bolder;
    display: block;
    margin-top: 20px;
    animation: pompa 15s infinite;
    text-align: center;
    color:black;
    font-size:100px;
    width: auto;

}
@media only screen and (max-width: 1000px) {

    .title_text {
        font-size: 50px;
        margin-top: 40px;
    }

}
.nawigacyjny{
    z-index: 9;
    height: 35px;
    width: 100%;
    top:0;
    position: fixed;
    overflow: hidden;
    background-color: black;
}
.nawigacyjny a{
    float:right;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: black;

}
.nawigacyjny a:hover{
    float:right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    background-color: white;

}
.nawigacyjny p{
    float:left;
    margin-right: 30px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: black;

}
.nawigacyjny p:hover{
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: white;

}
.nawigacyjny .menu{
    display: none;
}
.nawigacyjny i .menu{
    display: none;
}

.nawigacyjny span{
    text-align: center;
    float: left;
    display: block;
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
    font-size:16px;
}
.subtitle_text{
    text-align: center;
    color:black;
    font-size:20px;

}
.sortowanie_form{
    display: block;
    align-content: center;
    text-align: center;
    align-items: center;
}
.sortowanie_div1{
    margin:auto;
    width: 80%;
    display: block;
    align-content: center;
    text-align: center;
    align-items: center;
    color:white
}
.sortowanie_div1 button{
    border-radius: 4px;
    background-color: blue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 2px;
    width: 160px;
    font-family: "Ubuntu", serif;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.sortowanie_div1 button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.sortowanie_div1 button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.sortowanie_div1 button:hover span {
    padding-right: 25px;
}
.sortowanie_div1 button:hover span:after {
    opacity: 1;
    right: 0;
}
.sortowanie_div{
    visibility: hidden;
    margin:auto;
    width: 80%;
    display: block;
    align-content: center;
    text-align: center;
    align-items: center;
    color:white
}
.sortowanie_div form{
    display: inline-block;
}
.content-filmy{
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
    flex-basis: 25%;
    margin:auto;
    justify-content: center;
    position:relative;
    width: 80%;
    padding-left: 25px;
    padding-right: 25px;


}
.movies {
    text-shadow: 2px 2px black;
    font-family: "Ubuntu", serif;
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 270px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #191919;
    color:white;
}
.movies img{
    width: 200px;
    height: 270px;
    position:relative;
    margin-bottom: 0;
}
.movies:hover .overlay, .movies:active .overlay{
    opacity: 1;
}
.movies .overlay{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    height: 270px;
    width: 200px;
    position: relative;
    top:-270px;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(108, 122, 137, 0.9);

}
@media only screen and (max-width: 1000px) {
    .nawigacyjny{
        align-items: center;
        display: flex;
        flex-direction: column;
        z-index: 2;
        width: 100%;
        top:0;
        position: absolute;
        transition: 0.5s;
        height: auto;
        background-color: black;
    }
    .nawigacyjny a{
        float:right;
        color: white;
        text-align: center;
        background-color: black;
        display: none;

    }
    .nawigacyjny p{
        color: white;
        text-align: center;
        background-color: black;
        margin: 0;
        display: none;
    }
    .nawigacyjny i{
        font-size: 20px;
        font-style: normal;
    }
    .nawigacyjny .menu{
        float: right;
        display: flex;
        color: white;
        margin-top: 5px;
        font-size: 16px;
    }

    .movies {
        text-shadow: 2px 2px black;
        font-family: "Ubuntu", serif;
        display: inline-block;
        border: 1px solid black;
        width: 100px;
        height: 135px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
        background-color: #191919;
        color:white;
    }
    .movies h3{
        font-size:12px;
    }
    .movies img{
        width: 100px;
        height: 135px;
        position:relative;
        margin-bottom: 0;
    }
    .movies:hover .overlay, .movies:active .overlay{
        opacity: 1;
    }
    .movies .overlay{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        width: 100px;
        height: 135px;
        position: relative;
        top:-135px;
        right: 0;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(108, 122, 137, 0.9);

    }
    .dodaj_do_koszyka_butt{
        font-family: "Ubuntu", serif;
        height: 15px;
        background-color: green;
        border: none;
        color:white;
        text-align: center;
        text-decoration: none;
        border-radius: 8px;
        width: 90px ;
        font-size: 7px;
        align-items: center;
        margin: 0;
    }
    .dodaj_do_koszyka_butt:hover{
        background-color: darkgreen;
    }
    .szczegolybutt{
        font-family: "Ubuntu", serif;
        background-color:blue;
        border: none;
        color:white;
        text-align: center;
        text-decoration: none;
        font-size:7px;
        border-radius: 8px;
        width: 90px ;
        align-items: center;
    }
    .szczegolybutt:hover{
        background-color: darkblue;
    }
    .movies input[type='submit']{
        width: 90px;
        height: 20px;
        align-items: center;
        text-align: center;
    }
    .movies form input{
        padding: 0;
        margin-top:0;
        margin-bottom: 0;
    }

}
.powiadomienie{
    height: 35px;
    position: sticky;
    top:0;
    left:0;
    right:0;
    background-color: gray;
    text-align: center;
    z-index: 90;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: black;
    font-size: 20px;
    cursor: pointer;
    font-family: "Ubuntu", serif;
    font-weight: bold;

}


.movies form input{

    margin-top:-5px;
    margin-bottom: -5px;
}

.dodaj_do_koszyka_butt{
    font-family: "Ubuntu", serif;
    height: 30px;
    background-color: green;
    border: none;
    padding: 6px 6px;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
    border-radius: 8px;
    width: 180px ;
}
.dodaj_do_koszyka_butt:hover{
    background-color: darkgreen;
    border: none;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
}
.szczegolybutt{
    font-family: "Ubuntu", serif;
    background-color:blue;
    border: none;
    padding: 6px 6px;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
    border-radius: 8px;
    width: 180px ;
}
.szczegolybutt:hover{
    background-color: darkblue;
    border: none;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
}

@keyframes pompa{
    0% {color:limegreen;}
    10% {color:blue;}
    20% {color:blueviolet;}
    30% {color:yellow;}
    40% {color:cyan;}
    50% {color:green;}
    60% {color:royalblue;}
    70% {color: tomato;}
    80% {color:aquamarine;}
    90% {color:yellowgreen;}
    100% {color:teal;}}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}