.fajnytext {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    width: 300px;

    margin: auto;
    padding: 10px;
}
.scrollowanie-textu {
    height: 3rem;
    margin: auto;
    overflow: hidden;
}
.scrollowanie-textu ul {
    margin: 0 0.625rem;
    padding: 0;
    animation: scrollUp 6s infinite;
}
.scrollowanie-textu ul li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3rem;
    list-style: none;
    text-shadow: 2px 2px #191919;
}
.napisfilmy{
    font-weight: bolder;
    color:white;
    text-shadow: 2px 2px #191919;
}
@keyframes scrollUp {
    15%, 25% {
        transform: translateY(-20%);
    }
    40%, 50% {
        transform: translateY(-40%);
    }
    65%, 75% {
        transform: translateY(-60%);
    }
    90%, 100% {
        transform: translateY(-80%);
    }
}