.nawigacyjny{
    height: 35px;
    width: 100%;
    top:0;
    position: fixed;
    overflow: hidden;
    background-color: black;
}
.nawigacyjny a{
    float:right;
    display: block;
    color: white !important;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: black;

}
.nawigacyjny a:hover{
    float:right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    color:black;
    background-color: green;

}
.nawigacyjny p{
    float:left;
    margin-right: 30px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: black;

}
.nawigacyjny p:hover{
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: white;

}
.nawigacyjny span{
    text-align: center;
    float: left;
    display: block;
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
    font-size:16px;
}
body{
    margin:0;
    background-color: lightcyan;

}
p{
    margin:0.05em;
}
.bodyprofilu{
    margin-top:50px;
    margin-left: 10px;
    margin-right: 10px;


}
.formularzzmiany{
    text-align: center;
    align-content: center;
    align-items: center;
    margin: auto;
    display: block;
    width: 500px;
    height: 310px;


}
.formularzzmiany input[type='text']{
    margin:auto;
    width: 400px;
}
.formularzzmiany input[type='submit']{
    margin:auto;

}
.formularzzmiany button{
    margin:auto;
}
.zmiendanebutt{
    color:white;
    background-color: blue;
    text-decoration: none;
    border:none;
    padding: 10px 10px;
    border-radius: 8px;
}
.zmiendanebutt:hover{
    background-color: darkblue;
}
.zaaktualizujdanebutt{
    color:white;
    background-color: green;
    text-decoration: none;
    border:none;
    padding: 10px 10px;
    border-radius: 8px;
}
.zaaktualizujdanebutt:disabled{
    background-color: gray;
}
.zaaktualizujdanebutt:disabled:hover{
    background-color: gray;
}
.zaaktualizujdanebutt:hover{
    background-color: darkgreen;
}
.usunkontobutt{
    color:white;
    margin-top: 20px;
    background-color: red;
    text-decoration: none;
    border:none;
    padding: 10px 10px;
    border-radius: 8px;
}
.usunkontobutt:hover{
    background-color: darkred;
}
.historiazamowien h2{
    text-align: center;
}
.historiazamowien{
    margin-left:auto;
    margin-right: auto;
    width: 80%;
    min-height: 200px;
    border: 3px solid black;
}
.historiazamowien table{
    border:1px solid black;
}
.historiazamowien th{
    border:1px solid black;
}
.historiazamowien tr{
    border:1px solid black;
}
.historiazamowien td{
    border:1px solid black;
}