
*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body
{
	background-image: url(background.jpg);
	background-size: cover;
	background-postion: center;
	
	font-family: sans-serif;
}
.menu-bar
{
	background: rgb(0,100,0);
	text-align: center;
}
.menu-bar ul
{
	
	display: inline-flex;
	list-style: none;
	color: #fff;
}
.menu-bar ul li
{
	width: 120px;
	margin: 15px;
	padding: 15px;
	border: 5px solid white;
}
.menu-bar ul li a
{
	texxt-decoration: none;
	color: #fff;
}
.active, .menu-bar ul li:hover
{
		background: #2bab0d;
		border-radius: 3px;
}

.image
{
	width: 120px;
	height: 50px;
}

	