.profile-main-container{
    width: 800px;
    height: 75px;
    background-image: linear-gradient(to left,#5459eb,#7386ff,#7386ff,#5459eb);
        border: 5px solid gold;
        border-radius: 50px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}
.adrs 
{
    margin-top: 10px;
    text-align: center;
}

.adrs input[type="submit"]
{
    border: none;
    outline: none;
    height: 75px;
    width: 500px;
    margin-top: 15px;
    background-image: linear-gradient(to left,#5459eb,#7386ff,#7386ff,#5459eb);
    border: 5px solid gold;
    border-radius: 50px;
    color: black;
    font-size: 16px;
    border-radius: 50px;
}
.adrs input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.new_adrs
{
    margin-top: 40px;
    text-align: center;	
}
.new_adrs input[value="DODAJ NOWY ADRES!"]
{
    border: none;
    outline: none;
    height: 75px;
    width: 500px;
    margin-top: 15px;
    background-image: linear-gradient(to left,#5459eb,#7386ff,#7386ff,#5459eb);
    border: 5px solid gold;
    border-radius: 50px;
    color: black;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    border-radius: 50px;
}
.new_adrs input[value="DODAJ NOWY ADRES!"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;	
}