.profile-main-container{
    width: 800px;
    height: 75px;
    background-image: linear-gradient(to left,#5459eb,#7386ff,#7386ff,#5459eb);
    border: 5px solid gold;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}
.container-for-goods{
    width: 800px;
    height: 75px;
    background-image: linear-gradient(to left,#5459eb,#7386ff,#7386ff,#5459eb);
    border: 5px solid gold;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 50px;
    text-align: center;
}
.list {
    float: left;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}
.date {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    float: right;
    margin-right: 40px;
}