.adress
	{
		margin-top: 25px;
		float: left;
		font-size: 18px;
		margin-left: 15px;
	}
	.profile-adress-container{
		width: 600px;
		height: 125px;
		background-image: linear-gradient(to right,#deeaee,#FFFECF,#C3EBF9,#C2F5CF,#FFFECF);
		border: 5px solid green;
		margin: 0 auto;
		margin-top: 25px;
		font-size: 25px;
		text-align: center;
	}
	.button-area-adress{
		text-align: right;
		float: right;
	}
	
	.button-area-adress input[type="submit"]
	{
		margin-top: 33px;
		border: none;
		outline: none;
		height: 40px;
		width: 150px;
		margin-right: 75px;
		background: #fb2525;
		color: #fff;
		font-size: 15px;
		border-radius: 20px;
	}
	.button-area-adress input[type="submit"]:hover
	{
		cursor: pointer;
		background: #ffc107;
		color: #000;
	}
	.button_new_adrr
	{
		float: right;
	}
	.button_new_adrr input[type="submit"]
	{
		margin-top: 10px;
		border: none;
		outline: none;
		height: 40px;
		width: 150px;
		margin-right: 75px;
		background: #fb2525;
		color: #fff;
		font-size: 15px;
		border-radius: 20px;
	}
	.button_new_adrr input[type="submit"]:hover
	{
		cursor: pointer;
		background: #ffc107;
		color: #000;	
	}
	.text
	{
		float: left;
		margin-left: 10px;
	}