.profile-main-container{
    width: 800px;
    height: 75px;
    background-image: linear-gradient(to left,#5459eb,#7386ff,#7386ff,#5459eb);
    border: 5px solid gold;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}
.email-area
{
    width: 800px;
    height: 300px;
    background-image: linear-gradient(to left,#5459eb,#7386ff,#7386ff,#5459eb);
    border: 5px solid gold;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}
.buttons input[type="submit"]
{
    margin-top: 30px;
    border: none;
    outline: none;
    height: 40px;
    width: 150px;
    margin-right: 75px;
    background: #fb2525;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
}
.buttons input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;	
}
.email
{
    text-align: left;
    margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
}
.email input[type="text"]
{
    height: 40px;
    width: 300px;
    margin-left: 20px;
    text-align: center;
}
.city
{
    text-align: left;
    margin-top: 20px;
    margin-left: 15px;	
    font-size: 15px;
}
.city input[type="text"]
{
    height: 40px;
    width: 200px;
    margin-left: 20px;
    text-align: center;
    
}
.city input[name="kod1"]
{
    height: 40px;
    width: 40px;
    margin-left: 20px;
    text-align: center;
}
.city input[name="kod2"]
{
    height: 40px;
    width: 75px;
    text-align: center;
    margin-left: 2px;
}
.addr
{
    text-align: left;
    margin-top: 20px;
    margin-left: 15px;	
    font-size: 14px;	
    
}
.addr input[name="ulica"]
{
    height: 40px;
    width: 200px;
    margin-left: 20px;
    text-align: center;
}
.addr input[name="nrulicy"]
{
    height: 40px;
    width: 50px;
    margin-left: 5px;	
    text-align: center;
}
.addr input[name="lokal"]
{
    height: 40px;
    width: 50px;
    margin-left: 5px;	
    text-align: center;
}
.buttons button
{
    margin-top: 30px;
    border: none;
    outline: none;
    height: 40px;
    width: 150px;
    margin-right: 75px;
    background: #fb2525;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;	
}
.buttons button:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}