.item-area
	{
		width: 800px;
		height: 225px;
		background-image: linear-gradient(to right,#deeaee,#FFFECF,#C3EBF9,#C2F5CF,#FFFECF);
		border: 5px solid green;
		margin: 0 auto;
		margin-top: 25px;
		font-size: 20px;
		text-align: center;
	}
	.buttons input[type="submit"]
	{
		margin-top: 30px;
		border: none;
		outline: none;
		height: 40px;
		width: 150px;
		margin-right: 75px;
		background: #fb2525;
		color: #fff;
		font-size: 15px;
		border-radius: 20px;
	}
	.buttons input[type="submit"]:hover
	{
		cursor: pointer;
		background: #ffc107;
		color: #000;	
	}
	.item_name
	{
		text-align: left;
		margin-top: 20px;
		margin-left: 15px;
		font-size: 15px;
	}
	.item_name input[type="text"]
	{
		height: 40px;
		width: 300px;
		margin-left: 20px;
		text-align: center;
	}
	.datas
	{
		text-align: left;
		margin-top: 20px;
		margin-left: 15px;	
		font-size: 15px;
	}
	.datas input[name="cenaOd"]
	{
		height: 40px;
		width: 200px;
		margin-left: 20px;
		margin-right: 20px;
		text-align: center;
		
	}
	.datas input[name="cenaDo"]
	{
		height: 40px;
		width: 200px;
		margin-left: 20px;
		margin-right: 20px;
		text-align: center;
	}
	.button-area input[type="submit"]
	{
		margin-top: 20px;
		border: none;
		outline: none;
		height: 40px;
		width: 240px;
		margin-right: 75px;
		background: #fb2525;
		color: #fff;
		font-size: 15px;
		border-radius: 20px;
	}
	.button-area input[type="submit"]:hover
	{
		cursor: pointer;
		background: #ffc107;
		color: #000;
	}